<h1  style="text-align: center;"> Term And Conditions</h1>
<div class="container">
<ol>
<li>Acceptance of TermsBy using Slotluck, you agree to be bound by these Terms and Conditions.
     If you do not accept any part of these terms, you must not use our platform.</li>


     <li> EligibilityYou must be at least 18 years old or have the consent of a parent or guardian to participate on this platform.</li>

        <li>Account RegistrationUsers are required to register an account with accurate and complete information.
             You are responsible for maintaining the confidentiality of your account credentials.</li>
    
 <li>Contest Rules:
    <ol>Users must adhere to the rules of each contest.</ol>
    <ul>Points are awarded or deducted based on the correctness of answers.</ul>
    <ol>Any attempt to manipulate results will lead to disqualification.</ol>
 </li>
     <li> RankingsThe Top Ranking section is updated periodically based on users' performance. 
        Slotluck reserves the right to adjust rankings in cases of errors or disputes.</li>
    <li>LiabilitySlotluck is not responsible for any loss or damage resulting from the use of the website. 
        All content is provided on an "as-is" basis.</li>
    <li>Changes to TermsSlotluck reserves the right to modify these Terms and Conditions at any time. Users will be notified of any changes.</li>
    
                                        </ol>
                                    </div>





                                    <h1  style="text-align: center;"> Privacy Policy</h1>
<div class="container">
<ol>
<li>Acceptance of TermsBy using Slotluck, you agree to be bound by these Terms and Conditions.
     If you do not accept any part of these terms, you must not use our platform.</li>


     <li> EligibilityYou must be at least 18 years old or have the consent of a parent or guardian to participate on this platform.</li>

        <li>Account RegistrationUsers are required to register an account with accurate and complete information.
             You are responsible for maintaining the confidentiality of your account credentials.</li>
    
 <li>Contest Rules:
    <ol>Users must adhere to the rules of each contest.</ol>
    <ul>Points are awarded or deducted based on the correctness of answers.</ul>
    <ol>Any attempt to manipulate results will lead to disqualification.</ol>
 </li>
     <li> RankingsThe Top Ranking section is updated periodically based on users' performance. 
        Slotluck reserves the right to adjust rankings in cases of errors or disputes.</li>
    <li>LiabilitySlotluck is not responsible for any loss or damage resulting from the use of the website. 
        All content is provided on an "as-is" basis.</li>
    <li>Changes to TermsSlotluck reserves the right to modify these Terms and Conditions at any time. Users will be notified of any changes.</li>
    
                                        </ol>
                                    </div>