<nav class="navbar navbar-expand-lg" style="background-color: rgb(22, 183, 22);">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">MyApp</a> -->
      <img src="assets/public.svg" alt="Company Logo" class="mb-3" style="width: 150px; display: flexbox;">
  
      <!-- Hamburger Button for Small Screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation"  >
        <span class="navbar-toggler-icon" ></span>
      </button>
  
      <!-- Offcanvas Sidebar -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: rgb(22, 183, 22);">
        <div class="offcanvas-header" >
          <h5 id="offcanvasNavbarLabel">Slotluck</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"  style="color: white;">Ranking Contest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact" style="color: white;">My Position</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"  style="color: white;">My Prediction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"  style="color: white;">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"  style="color: white;">Terms & Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>