<nav class="navbar navbar-expand-lg" style="background-color: rgb(22, 183, 22);">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">MyApp</a> -->
        <img src="assets/public.svg" alt="Company Logo" class="mb-3" style="width: 150px; display: flexbox;">

        <!-- Hamburger Button for Small Screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas Sidebar -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
            style="background-color: rgb(22, 183, 22);">
            <div class="offcanvas-header">
                <h5 id="offcanvasNavbarLabel">Slotluck</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ranking" style="color: white;">Ranking Contest</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/contact" style="color: white;">My Position</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/prediction" style="color: white;">My Prediction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" style="color: white;">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink ="/term&condition" style="color: white;">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>








<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/public (3).avif" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/public (1).avif" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/public.avif" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/public (2).avif" class="d-block w-100 " alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>