<footer class="text-center bg-body-tertiary">
    <div style = "background-color: rgb(28, 159, 28);">
      
    <div class="row mt-3">
       
        <div class="col-md-6 col-lg-4 col-xl-3" style="margin-right: 0%; margin-left: 0%;"> 
       
          <img src="assets/public.svg" alt="Company Logo" class="mb-3" style="width: 150px; display: flexbox; ">
          
          
          <p style="color: white; margin-top: 15px;">
            We believe that gaming should be more than just fun, it should be a tool for personal growth.
          </p>
        </div>
      </div>
      
    
    <div class="container pt-4">
     
      <section class="mb-4">
      
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
         
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
      
        <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <div style = "background-color: red;">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); color: aliceblue;">
          © 2020 Copyright:
          <a class="text-body"  href="#" style="color: aliceblue;">SLOTLUCK</a>
        </div>
    </div>
</div>
  

  </footer>
